@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montez&family=Ms+Madi&family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fonts */
.grechen-fuemen-regular {
  font-family: "Grechen Fuemen", serif;
  font-weight: 400;
  font-style: normal;
}
.ms-madi-regular {
  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
}
.montez-regular {
  font-family: "Montez", serif;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}
