__pycache__/
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Logs
*.log

# Virtual environments
*.venv/
*.env/
.env.*

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Media files or unnecessary files
media/

fixtures/
static/
*.tar
*.zip
*.gz

# Keep .env for Docker build
!.env